body {
    background-image: url('../../../assets/backgroundImages/background.jpg');
    background-size: 100%;
}

.container {
    margin: 0 auto;
}
.LandingContainer {
    background-color: #f7f7f7;
    text-align: center;
    width: 600px;
    height: 550px;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 25px;
    
}
.img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
}
@import url('https://fonts.googleapis.com/css?family=Poppins');
.title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2.0rem;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
}

.subtitle {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Poppins';
    font-weight: 600;
}

.beginButton {
    height: 35px;
    width: 100px;
    border-radius: 15px;
    font-weight: 700;
    color: white;
    background-color: #0080FF;
    border: none;
    outline: none;
}

@media (min-width: 576px) {
    
}