
.container {
    margin: 0 auto;
}
.introContainer {
    background-color: #f7f7f7;
    text-align: center;
    width: 550px;
    height: 550px;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 25px;
    
}
.img {
    width: 550px;
    height: 300px;
    border-radius: 20px;
}
@import url('https://fonts.googleapis.com/css?family=Poppins');

.subtitle{
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Poppins';
    font-weight: 600;
    
}

.leftArrow {
    float: left;
    margin-left: 20px;
}
@media (min-width: 576px) {
    
}